<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feup.ei0902635"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="True"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="feup.ei0902635.passenger.MainActivity"
            android:label="Dashboard Screen" >
        </activity>

        <!-- DashBoard / MainActivity -->
        <activity
            android:name="feup.ei0902635.passenger.LoginActivity"
            android:label="User Login" >
        </activity>
        <activity
            android:name="feup.ei0902635.passenger.RegisterActivity"
            android:label="Register User" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="feup.ei0902635.inspector.MainInspectorActivity"
            android:label="@string/title_activity_main_inspector" >
        </activity>
        <activity
            android:name="feup.ei0902635.valterminal.MainValTerminalActivity"
            android:label="@string/title_activity_main_val_terminal" >
        </activity>
    </application>

</manifest>